h1 {
  background-color: red;
}

// $primary:       #b4cfb0 !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;


// $theme-colors: (
//   "primary": #b4cfb0,
//   "secondary": #cdaad5,
//   "success": #a6d8d9,
//   "info": #99bfe6,
//   "warning": #cfd0af,
//   "danger": #e6999b
//   // "light": "",
//   // "dark": "",
// );
